@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body{
    font-family: Lato, sans-serif;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.quem-somos{
    background-color: #B0BEC5;
    color: black;
}

.parceiros{
    background-color: #90A4AE;
}

.servicos{
    background-color: #78909C;
}

.bg-footer{
    background-color: #546E7A;
    color: white;
}