body{
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #CFD8DC;
}

.quem-somos{
    background-color: #B0BEC5;
    color: black;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #90A4AE;
}

.servicos{
    background-color: #78909C;
}

.bg-footer{
    background-color: #546E7A;
    color: white;
}